* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* .App {
  background-color: aqua;
  width: 95%;
  margin: 0 auto;
} */

/* .list {
  list-style: none;
  background-color: yellow;

}

.item {
  display: grid;
  grid-template-columns: 1fr repeat(4, 50px);
  background-color: orange;
  margin: 5px auto;
  height: 100px;

} */

.wrapper {
  /* width: 95%; */
}

.table .thead-dark th {
  text-align: center;
}

.table td {
  vertical-align: middle;
  text-align: center;
}
